<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>

<body>
    <header>    
        <% include ../partials/header %>
    </header>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Enter match result</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> <%= user.username %></h3>
                <form action="/enter-result" method="post">
                    <div>Date: <input type="date" name="date"></div>
                    <div>
                        <div>Your team: <%= user.teams[0].name %></div>
                        <div>Opponent: 
                            <select name="away-team">
                                <% teams.forEach(function(team){ %>
                                    <option value="<%= team.id %>>"><%= team.name %></option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                    <div>Fans: <input type="number" name="fans"></div>
                    <div>Your score: <input type="number" name="home-score"></div>
                    <div>Opponent score: <input type="number" name="away-score"></div>
                    <div>
                        Casualties:<br/>
                        <div>Home</div>
                        <div>BH: <input type="number" name="home-bh"></div>
                        <div>SI: <input type="number" name="home-si"></div>
                        <div>Kills: <input type="number" name="home-kills"></div>
                        <div>Opponent</div>
                        <div>BH: <input type="number" name="away-bh"></div>
                        <div>SI: <input type="number" name="away-si"></div>
                        <div>Kills: <input type="number" name="away-kills"></div>
                    </div>
                    <input type="hidden" name="home-team" value="<%= user.teams[0]._id %>">
                    <button type="submit" class="btn btn-warning btn-lg">Gem</button>
                </form>
            </div>
        </div>

    </div>

<footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
